@model WmsReferral.Business.Models.QuestionnaireViewModel

@{

    
}


<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <div class="nhsuk-u-margin-bottom-4">
            <h1>Ooops, looks like something went wrong.</h1>
            <h1 class="nhsuk-u-margin-bottom-0">
            </h1>

        </div>
        @* <h1 class="nhsuk-u-visually-hidden">NHS Digital Weight Management Programme - Service User Surveys</h1>
        <h2 class="nhsuk-heading-xl nhsblue">Welcome</h2>*@
        <p class="nhsuk-caption-xl nhsuk-u-margin-bottom-3"></p>

        @*@Html.DisplayFor(model => model.Given_name)
        @Html.DisplayFor(model => model.Family_name)*@
        <p class="nhsuk-body">Sorry, it looks like you've already completed your questionnaire.</p>

        

        
    </div>

</div>
