@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <div class="nhsuk-u-margin-bottom-4">
            <h1>Thank you</h1>
            

        </div>
        <p class="nhsuk-body">
            Thanks for your support.
        </p>
    </div>
</div>