@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>If you have recently signed up to the NHS Digital Weight Management Programme and looking for our questionnaire, please use the unique link we have sent to you via SMS message.</p>
</div>
