@model WmsReferral.Business.Models.QuestionnaireViewModel

@{
    ViewData["Title"] = "Error: Something has gone wrong";
    var svlink = "/" + Model.QuestionnaireRequested + "/" + Model.NotificationKey + "/Q1";
    if (Model.QuestionnaireRequested==""){
        svlink = "/u/" + Model.NotificationKey;
    }
}


<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <div class="nhsuk-u-margin-bottom-4">
            <h1>Ooops, looks like something went wrong.</h1>
            <h1 class="nhsuk-u-margin-bottom-0">
            </h1>

        </div>
        @* <h1 class="nhsuk-u-visually-hidden">NHS Digital Weight Management Programme - Service User Surveys</h1>
        <h2 class="nhsuk-heading-xl nhsblue">Welcome</h2>*@
        <p class="nhsuk-caption-xl nhsuk-u-margin-bottom-3"></p>

        @*@Html.DisplayFor(model => model.Given_name)
        @Html.DisplayFor(model => model.Family_name)*@
        <p class="nhsuk-body">It looks like you left us for a while so you'll have to start again, please restart your questionnaire below.</p>

        

        <div class="nhsuk-action-link">
            <a class="nhsuk-action-link__link" href="@Html.Raw(svlink)">
                <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                    <path d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
                </svg>
                <span class="nhsuk-action-link__text">Begin</span>
            </a>
        </div>
    </div>

</div>
