
@{ ViewData["Title"] = "Complete";
                Layout = "~/Views/Shared/_Layout.cshtml"; }


<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <div class="nhsuk-card wms-card">
            <div class="nhsuk-card__content">
                <h1 class="nhsuk-label-wrapper">
                    <span class="nhsuk-label nhsuk-label--l">
                        Congratulations, you have successfully registered for the NHS Digital Weight Management Programme for NHS staff
                    </span>
                </h1>
                <h2>What happens next?</h2>
                <p>Now that you have registered for the programme, you will be contacted via text message within 2 working days. This message, from ‘NHS Service’, will contain a link to a website from which you can access the list of available programmes. Please note that the link will expire in 48 hours.</p>


            </div>
        </div>
    </div>
</div>