
@{
    ViewData["Title"] = "Complete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <div class="nhsuk-card wms-card">
            <div class="nhsuk-card__content">
                <h1 class="nhsuk-label-wrapper">
                    <span class="nhsuk-label nhsuk-label--l">
                        Success, the patient has been successfully referred to the NHS Digital Weight Management Programme 
                    </span>
                </h1>
                <p>They will receive a text message within 48 hours from NHS Service, asking them to access the Referral Hub and complete the referral process by choosing their preferred provider.</p>
                <p>Thank you for your referral and support of the NHS Digital Weight Management Programme.  For general queries, please email: <a href="mailto:england.wmp-prevention@nhs.net">england.wmp-prevention@nhs.net</a></p>
                <p><a class="nhsuk-button" asp-action="index" asp-controller="MskReferral">Continue</a></p>

            </div>
        </div>
    </div>
</div>