@{ 
   ViewData["Title"] = "Criteria not met";
   Layout = "~/Views/Shared/_Layout.cshtml"; 
}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <div class="nhsuk-card wms-card">
            <div class="nhsuk-card__content">
                <p>Sorry, the patient must consent to NHS number and GP Practice lookups to be eligible for the NHS Digital Weight Management Programme.</p>
                <p><a class="nhsuk-button" asp-action="index" asp-controller="MskReferral">Continue</a></p>
            </div>
        </div>
    </div>
</div>