@{
    ViewData["Title"] = "Welcome";
}

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <h1 class="nhsuk-u-visually-hidden">NHS Weight Management Programme Pharmacy Referral Site</h1>
        <h2 class="nhsuk-heading-xl nhsblue">Welcome</h2>

                <p class="nhsuk-body">
                    Welcome to the NHS Digital Weight Management Programme Pharmacy Referral Site.
                </p>
                <p>
                    All NHS community pharmacies are able to refer eligible patients into the NHS Digital 
                    Weight Management Programme. To find out more about the programme and eligibility criteria, 
                    please visit: <a href="https://www.england.nhs.uk/digital-weight-management/">https://www.england.nhs.uk/digital-weight-management/</a>
                </p>
                <p>This should take about 10 minutes to complete.</p>



                <div class="nhsuk-action-link">
                    <a class="nhsuk-action-link__link" asp-action="index" asp-controller="Auth">
                        <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                            <path d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
                        </svg>
                        <span class="nhsuk-action-link__text">Start</span>
                    </a>
                </div>

          
    </div>
</div>
