@model WmsReferral.Business.Models.QuestionsViewModel
@using WmsReferral.Business.Helpers
@{
    ViewData["Title"] = "Q6";
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool hasErrors = ViewData.ModelState.ErrorCount > 0;
    bool questionAerror = false;
    var surveyref = Url.ActionContext.RouteData.Values["id"];
    if (hasErrors)
    {
        if (ViewData.ModelState["QuestionAResponse"].Errors.Any())
        {
            questionAerror = true;
        }



    }
}


<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

        <div class="nhsuk-back-link">
            <a class="nhsuk-back-link__link" href="/ncp/@surveyref/Q5">
                <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                    <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
                </svg>
                Go back
            </a>
        </div>

        <div class="nhsuk-card wms-card">
            <div class="nhsuk-card__content">

                <form asp-action="Q6">

                    <div class="@NhsFormHelper.GetFormElementClasses("form-group", questionAerror)">
                        <fieldset class="nhsuk-fieldset">
                            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--m">
                                <h1 class="nhsuk-label-wrapper">
                                    <span class="nhsuk-label nhsuk-label--l">
                                        Q6 Is there anything else you’d like to tell us?
                                    </span>
                                </h1>
                            </legend>
                            <span class="nhsuk-error-message">
                                <span asp-validation-for="QuestionAresponse"></span>
                            </span>
                            <div class="nhsuk-hint" id="response-hint">
                                (100 word limit)
                            </div>
                            <textarea class="nhsuk-textarea" asp-for="QuestionAresponse" rows="5" aria-describedby="response-hint"></textarea>
                        </fieldset>
                    </div>

                    <input type="submit" value="Continue" class="nhsuk-button nhsuk-u-margin-top-3" />
                </form>

            </div>
        </div>
    </div>
</div>
@section scripts{    
    <script src="~/js/wordcount.min.js"></script>
}
