@{
    ViewData["Title"] = "Contact Us";
}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">
                <h1 class="nhsblue">Contact Us</h1>
                <p>
                        If you are experiencing any issues with the Referral Hub, please contact the MLCSU Referral Management
                        Centre using the details below.
                    </p>
                    <p>Referral Management Services Enquiries : <a href="tel:+441772660010">01772 660 010</a></p>
               
            </div>
        </div>
    </div>
</div>