@{
    ViewData["Title"] = "Welcome";
}

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <h1 class="nhsuk-u-visually-hidden">NHS Digital Weight Management Programme</h1>
        <h2 class="nhsuk-heading-xl nhsblue">Welcome</h2>

        <p>
            Welcome to the NHS Digital Weight Management Programme. It's easy to refer yourself and
            should take about 10 minutes to complete the online referral form.
        </p>
        <div class="nhsuk-inset-text">
            <span class="nhsuk-u-visually-hidden">Information: </span>
            <p>The NHS Digital Weight Management program is only available to you if you live in England.</p>
        </div>

        <p>The NHS Digital Weight Management Programme uses NHS login for referrals.</p>

        <details class="nhsuk-details">
            <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">
                    What is NHS login?
                </span>
            </summary>
            <div class="nhsuk-details__text">
                <p>

                    <a target="_blank" href="https://www.nhs.uk/nhs-services/online-services/nhs-log-in/">NHS Login</a> is a service that has been created by the NHS for patients and the public.
                </p>
                <p>
                    It’s an easy way for patients to access multiple digital health and social care services
                    with a single login and can be used by the public to securely access their health and
                    care information wherever they see the NHS login button. People can use NHS login to prove
                    who they are safely and securely and, in most cases, without the need to visit their GP.
                </p>

            </div>
        </details>

    </div>
</div>


<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-one-half">
        <h3>
            Login
        </h3>
        
        <div class="nhsuk-u-margin-left-3 nhsuk-u-margin-right-3 nhsuk-u-margin-bottom-5">
            <a href="/SelfReferral/login" class="nhsuk-nhslogin">
                <img src="/assets/logos/NHSLogin_ContinueWith_Original.svg" alt="continue with NHS Login" title="continue with NHS Login">
            </a>
        </div>
    </div>
</div>
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-one-half">
        <h3>
            No account? Register here
        </h3>
        <div class="nhsuk-u-margin-left-3 nhsuk-u-margin-right-3">
            <a href="/SelfReferral/register" class="nhsuk-nhslogin">
                <img src="/assets/logos/NHSLogin_RegisterUsing_Original.svg" alt="register using NHS Login" title="register using NHS Login">
            </a>
        </div>
    </div>
</div>



@*<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
    <ul class="nhsuk-grid-row nhsuk-card-group">
    <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
    <div class="nhsuk-card wms-card">
    <div class="nhsuk-card__content">
    <h3 class="nhsuk-card__heading">
    Login
    </h3>
    <div class="nhsuk-u-margin-left-2 nhsuk-u-margin-right-2">
    <a asp-action="index" asp-controller="SelfReferral">
    <img src="/assets/logos/NHSLogin_ContinueWith_Original.svg" alt="button" title="continue with NHS Login">
    </a>
    </div>
    </div>
    </div>
    </li>
    <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
    <div class="nhsuk-card wms-card">
    <div class="nhsuk-card__content">
    <h3 class="nhsuk-card__heading">
    No account? Register here
    </h3>
    <div class="nhsuk-u-margin-left-2 nhsuk-u-margin-right-2">
    <a asp-action="index" asp-controller="SelfReferral">
    <img src="/assets/logos/NHSLogin_RegisterUsing_Original.svg" alt="button" title="register for NHS Login">
    </a>
    </div>
    </div>
    </div>
    </li>
    </ul>




    </div>
    </div*@
