@model WmsReferral.Business.Models.ConsentFutureContactViewModel
@using WmsReferral.Business.Helpers

@{
    ViewData["Title"] = "Are you happy to take part in future NHSE/I surveys?";
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool hasErrors = ViewData.ModelState.ErrorCount > 0;
}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

        <div class="nhsuk-back-link">
            <a class="nhsuk-back-link__link" asp-action="DiabetesTypeTwo">
                <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                    <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
                </svg>
                Go back
            </a>
        </div>

        <div class="nhsuk-card wms-card">
            <div class="nhsuk-card__content">
                <form method="post" asp-action="ConsentFutureContact">
                    <div class="@NhsFormHelper.GetFormElementClasses("form-group", hasErrors)">
                        <fieldset class="nhsuk-fieldset nhsuk-u-padding-bottom-6"
                                  aria-describedby="contact-hint">

                            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
                                <h1 class="nhsuk-fieldset__heading">
                                    Are you happy to take part in future NHS England surveys?
                                </h1>
                            </legend>


                            <div class="nhsuk-hint" id="contact-hint">
                                Select one option
                            </div>

                            <span class="nhsuk-error-message" id="input-with-error-message-error">
                                <span asp-validation-for="FutureContact"></span>
                            </span>

                            <div class="nhsuk-radios nhsuk-radios--inline">
                                @for (int i = 0; i < Model.FutureContactList.Count(); i++)
                                {
                                    var contactGroup = Model.FutureContactList.ElementAt(i);
                                    <div class="nhsuk-radios__item">
                                        <input class="nhsuk-radios__input"                                               
                                               id="contact-group-option-@i"
                                               asp-for="FutureContact"
                                               type="radio"
                                               value=@contactGroup.Key />
                                        <label class="nhsuk-label nhsuk-radios__label" for="contact-group-option-@i">
                                            @contactGroup.Value
                                        </label>
                                    </div>
                                }
                            </div>
                        </fieldset>
                    </div>
                    <input type="submit"
                           value="Continue"
                           class="nhsuk-button" />
                </form>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <partial name="_ValidationScriptsPartial" />
}