@{
    ViewData["Title"] = "Home Page";
}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <h1 class="nhsuk-heading-xl">Welcome</h1>
        <input type="submit" value="Get Started" class="nhsuk-button" />
    </div>
</div>