@model WmsReferral.Business.Models.SexViewModel
@using WmsReferral.Business.Helpers

@{
    ViewData["Title"] = "Sex";
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool hasErrors = ViewData.ModelState.ErrorCount > 0;

}

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

        <div class="nhsuk-back-link">
            <a class="nhsuk-back-link__link" asp-action="telephone">
                <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                    <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
                </svg>
                Go back
            </a>
        </div>

        <div class="nhsuk-card wms-card">
            <div class="nhsuk-card__content">
                <form asp-action="Sex">
                    <fieldset class="nhsuk-fieldset nhsuk-u-padding-bottom-6">
                        <h1 class="nhsuk-label-wrapper">
                            <span class="nhsuk-label nhsuk-label--l">
                                What is the patient’s sex?
                            </span>
                        </h1>

                        <div class="@NhsFormHelper.GetFormElementClasses("form-group", hasErrors)">
                            <details class="nhsuk-details">
                                <summary class="nhsuk-details__summary">
                                    <span class="nhsuk-details__summary-text">
                                        Why are we asking this?
                                    </span>
                                </summary>
                                <div class="nhsuk-details__text">
                                    <p>This is the sex that someone registers with at birth.</p>
                                    <p>We require this information to help identify the best service for the patient.</p>
                                </div>
                            </details>
                            <div class="nhsuk-hint">
                                The sex the patient was registered with at birth
                            </div>
                            <span class="nhsuk-error-message" id="input-with-error-message-error">
                                 <span asp-validation-for="Sex">Select if the patient is female or male</span>
                            </span>

                            <div class="nhsuk-radios nhsuk-radios--inline">
                                @for (int i = 0; i < Model.Sexes.Count(); i++)
                                {
                                    var sexGroup = Model.Sexes.ElementAt(i);
                                    <div class="nhsuk-radios__item">
                                        <input class="nhsuk-radios__input"
                                               role="radio"
                                               id="sex-group-option-@i"
                                               asp-for="Sex"
                                               type="radio"
                                               value=@sexGroup.Key />
                                        <label class="nhsuk-label nhsuk-radios__label" for="sex-group-option-@i">
                                            @sexGroup.Value
                                        </label>
                                    </div>}

                            </div>
                        </div>
                    </fieldset>
                    <input type="submit" value="Continue" class="nhsuk-button" />
                </form>

            </div>
        </div>
    </div>
</div>
@section scripts{
    <partial name="_ValidationScriptsPartial" />
}