@{ 
   ViewData["Title"] = "You are not eligible for this programme";
   Layout = "~/Views/Shared/_Layout.cshtml"; 
}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <div class="nhsuk-card wms-card">
            <div class="nhsuk-card__content">
                <h1 class="nhsuk-card__heading nhsuk-label--l">Your BMI is not within the eligibility range</h1>
                <p>
                    Unfortunately your BMI is not within the range for the NHS Digital Weight Management Programme. 
                    This means that you are not eligible for our programme at this time. Please visit your GP for 
                    further support to help you continue your health and wellbeing journey.
                </p>
                <p><a class="nhsuk-button" asp-action="sign-out" asp-controller="SelfReferral">Log out</a></p>
            </div>
        </div>
    </div>
</div>