@model WmsSelfReferral.Models.NhsLoginViewModel
@using WmsReferral.Business.Helpers
@{
    ViewData["Title"] = "Update referral";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <div class="nhsuk-u-margin-bottom-4">
            <h1 class="nhsuk-u-margin-bottom-0">Continue referral</h1>
            <span class="nhsuk-caption-xl">
                @Html.DisplayFor(model => model.Given_name)
                @Html.DisplayFor(model => model.Family_name)
            </span>
        </div>
        <p class="nhsuk-u-margin-bottom-8">Your application is incomplete, you still need to choose a weight management plan.</p>
        <div class="nhsuk-u-margin-bottom-8">
            <h2>Continue referral</h2>
            <p>Please check your previously submitted answers, paying attention to anything that may have changed since.</p>
            <p>Once you have checked your answers you may choose a weight management plan.</p>
            <div class="nhsuk-action-link">
                <a class="nhsuk-action-link__link" asp-action="check-answers" asp-controller="SelfReferral">
                    <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="36" height="36">
                        <path d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
                    </svg>
                    <span class="nhsuk-action-link__text">Continue referral</span>
                </a>
            </div>
        </div>
    </div>
</div>