<div class="nhsuk-phase-banner">
  <div class="nhsuk-width-container">
    <p class="nhsuk-phase-banner__content">
      <strong class="nhsuk-tag nhsuk-phase-banner__content__tag">
        Beta
      </strong>
      <span class="nhsuk-phase-banner__text">
        This is a new service. To help us improve it, <a class="nhsuk-link" href="mailto:england.wmp-prevention@nhs.net?subject=DWMP Feedback">give your feedback by email</a>.
      </span>
    </p>
  </div>
</div>