/// <reference path="../../node_modules/nhsuk-frontend/packages/core/settings/all.scss" />
/// <reference path="../../node_modules/nhsuk-frontend/packages/core/tools/all.scss" />



.nhsuk-phase-banner {
  background-color: $color_nhsuk-white;
  padding-top: nhsuk-spacing(2);
  padding-bottom: nhsuk-spacing(2);
  border-bottom: 1px solid $nhsuk-border-color;
}

.nhsuk-phase-banner__content {
  @include nhsuk-font($size: 16);
  @include nhsuk-text-color;
  display: table;
  margin: 0;
}

.nhsuk-phase-banner__content__tag {
  margin-right: nhsuk-spacing(2);
}

.nhsuk-phase-banner__text {
  display: table-cell;
  vertical-align: middle;
}